<button
	type="button"
	class="btn btn-primary"
	data-bs-toggle="modal"
	data-bs-target="#exampleModal"
	id="get-room-members"
	value="<%=room._id%>"
>
	View Users
</button>

<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Users In This Room</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body" id="modal-content"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<h1><%= room.name %></h1>

<% if(room.admins.includes(user._id)) {%>

<button id="delete-button">Delete this room</button>

<%}%>

<input hidden id="room-id" value="<%= room._id %>" />

<input value="<%=user.username%>" hidden id="username" />
<div class="bg-white h-75 overflow-auto" id="chat-container">
	<% for(message of messages) { %>
	<div>
		<span class="p-5"> <%=message.author.username%> </span
		><span> <%=message.time%> </span>
		<p class="mt-1 bg-danger p-3 rounded-pill m-1"><%=message.message%></p>
	</div>
	<%}%>
</div>
<form class="w-100" id="message-form">
	<input
		type="text"
		id="message"
		class="form-control"
		autocomplete="off"
		placeholder="Message..."
	/>
	<input type="submit" value="Send Message" class="btn btn-success" />
</form>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.6/qs.min.js"
	integrity="sha512-3TmPrquYLaAsUmZKXRARTDC5siWhLAdBVqNo4dWpDABBtLU62AaoTaQJEvjxjExcZYurO6i1dnK85k8pPIBlRg=="
	crossorigin="anonymous"
></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/chat.js"></script>
