<div class="position-absolute top-0 end-0 m-3">
	<a class="btn btn-warning w-100" href="user/signout">Signout</a>
	<form method="POST" class="mt-3" action="/dashboard/profile">
		<input name="_id" hidden value="<%= user._id %>" />
		<input
			type="submit"
			class="btn btn-secondary w-100"
			value="<%=user.first_name%>"
		/>
	</form>
</div>

<div class="h-50 position-absolute top-15 start-0 w-10">
	<%if(rooms) {%>
	<div class="list-group">
		<% for(room of rooms) {%>
		<a
			href="/chatroom/<%= room.name %>/<%=user.username%>"
			class="list-group-item list-group-item-action"
			aria-current="true"
		>
			<%= room.name %>
		</a>
		<%}%>
	</div>
	<%}%>
	<form method="POST" action="/room/roomform">
		<input hidden value="<%= user._id %>" name="userid" />
		<input
			class="list-group-item list-group-item-action bg-primary text-dark fs-3 rounded-pill mt-1 h-10"
			type="submit"
			value="+"
		/>
	</form>
</div>
